In [1]:
import pandas

In [2]:
data = pandas.read_csv("refugee_statistics.csv")

In [3]:
data

    Sex/Age/Marital Status Applicants Spouses Children All Refugees
0                   Female     10,082   8,688   14,565       33,335
1                     Male     18,317   2,104   16,163       36,584
2              Sex Unknown          1       -        -            1
3           Under 16 Years        679       -   24,309       24,988
4           16 to 20 Years      1,354     176    5,376        6,906
5        21 Years and Over     26,367  10,616    1,043       38,026
6             Under 1 Year          4       -      235          239
7             1 to 4 Years        118       -    7,571        7,689
8             5 to 9 Years        132       -    8,138        8,270
9           10 to 14 Years        316       -    7,060        7,376
10          15 to 19 Years        998      64    5,824        6,886
11          20 to 24 Years      4,063     950    1,832        6,845
12          25 to 29 Years      5,305   2,056       48        7,409
13          30 to 34 Years      4,634   2,151        4        6,789
14          35 to 39 Years      3,502   1,679       11        5,192
15          40 to 44 Years      2,619       D        D        3,880
16          45 to 49 Years      1,960       D        D        2,849
17          50 to 54 Years      1,442       D        D        2,067
18          55 to 59 Years      1,025     436        -        1,461
19          60 to 64 Years        798     305        -        1,103
20          65 to 74 Years      1,058     301        -        1,359
21       75 Years and Over        426      80        -          506
22                 Married     14,260  10,787       16       25,063
23                  Single          D       D   30,696       41,105
24                 Widowed          D       -        D        1,932
25      Divorced/Separated      1,794       D        D        1,810
26  Marital Status Unknown         10       -        -           10
27                   Total     28,400  10,792   30,728       69,920

In [4]:
defensive = pandas.read_csv("defensive_asylum.csv")

In [5]:
defensive

,Continent/Country of Nationality,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Africa,"2,830","2,522","2,046","2,326","1,912","2,340","2,118","1,976","1,697","1,380"
1,Asia,"6,668","6,707","5,509","5,423","4,872","5,855","6,745","6,137","5,445","4,803"
2,Europe,"1,441","1,318","1,177",928,746,864,823,872,654,538
3,North America,"1,007","1,071","1,083",855,489,535,632,681,745,"1,299"
4,Oceania,45,25,36,32,16,23,20,9,7,8
5,South America,"1,226","1,132",975,646,392,406,269,216,203,170
6,Unknown,87,84,66,90,92,115,111,55,40,48
7,Afghanistan,25,22,28,7,5,18,34,16,18,13
8,Albania,497,421,324,213,103,101,72,71,66,75
9,Algeria,13,6,5,6,-,4,6,D,D,D
10,Angola,16,7,8,6,D,D,D,D,D,D
11,Argentina,9,15,14,10,8,D,5,D,-,D
12,Armenia,289,179,149,202,168,114,74,54,48,20
13,Azerbaijan,27,23,12,14,9,11,16,5,10,11
14,Bangladesh,113,100,81,50,35,39,61,63,52,91
15,Belarus,106,76,80,73,55,69,62,62,47,31
16,Benin,D,D,D,4,D,D,5,8,4,10
17,Bosnia-Herzegovina,7,18,6,17,D,4,D,D,4,D
18,Brazil,33,33,31,22,13,18,13,14,6,4
19,Bulgaria,72,67,48,42,11,19,16,6,11,D
20,Burkina Faso,13,20,23,39,48,34,52,59,61,52
21,Burma,157,129,126,108,72,60,63,33,30,20
22,Burundi,13,13,12,15,4,8,10,13,31,18
23,Cambodia,20,13,12,12,9,9,7,7,D,D
24,Cameroon,357,205,161,211,161,160,154,138,112,91
25,Canada,9,9,D,11,5,9,5,D,4,D
26,Central African Republic,10,13,13,16,5,D,4,8,D,D
27,Chad,16,21,24,40,24,21,21,4,7,4
28,"China, People's Republic","4,048","4,552","3,457","3,449","3,419","4,299","5,018","4,535","3,980","3,610"
29,Colombia,782,683,548,368,187,175,98,72,64,60
...,...,...,...,...,...,...,...,...,...,...,...
81,Peru,88,54,52,39,23,20,14,8,17,20
82,Philippines,17,9,15,13,5,5,8,5,D,D
83,Romania,43,31,56,31,16,9,7,39,20,26
84,Russia,203,209,201,128,135,170,149,187,116,92
85,Rwanda,24,22,20,24,21,13,21,27,44,16
86,Saudi Arabia,13,5,5,D,D,D,10,7,8,4
87,Senegal,15,30,18,25,13,19,26,21,16,20
88,Serbia and Montenegro (former),179,152,152,148,98,70,56,53,37,18
89,Sierra Leone,79,48,47,29,19,14,22,11,11,9
90,Somalia,116,109,101,168,188,189,84,86,122,166
91,South Africa,20,8,D,D,D,13,D,D,D,D
92,Soviet Union (former),188,191,173,154,168,238,271,252,185,176
93,Sri Lanka,85,89,87,112,90,100,102,96,76,47
94,Sudan,45,19,30,40,28,29,41,35,15,19
95,Syria,20,23,11,18,11,6,29,48,64,101
96,Tajikistan,4,5,D,8,9,10,8,13,11,6
97,Tanzania,17,16,5,6,D,7,6,5,D,D
98,Togo,145,82,63,39,30,28,15,14,11,10
99,Turkey,34,23,11,18,6,11,23,4,D,13
100,Turkmenistan,23,12,15,14,6,7,7,D,D,4
101,Uganda,36,50,33,28,19,21,24,30,21,10
102,Ukraine,45,40,59,26,59,45,47,43,47,39
103,Uzbekistan,95,74,67,65,48,62,37,55,40,23
104,Venezuela,279,317,306,192,143,159,113,79,92,34
105,Vietnam,10,10,7,10,8,12,10,4,D,D
106,Yemen,10,8,8,7,7,28,16,9,16,8
107,Zimbabwe,56,97,68,69,48,39,34,24,8,D
108,Other,114,103,114,93,90,91,97,99,69,55
109,Unknown,87,84,66,90,92,115,111,55,40,48
110,Total,"13,304","12,859","10,892","10,300","8,519","10,138","10,718","9,946","8,791","8,246"

In [6]:
status = pandas.read_csv("refugee_status.csv")

In [7]:
status

,Continent/Country of Nationality,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Africa,"18,129","17,486","8,943","9,678","13,325","7,693","10,629","15,984","17,501","22,492"
1,Asia,"10,086","23,564","44,819","58,309","52,695","44,583","44,416","48,840","47,197","43,115"
2,Europe,"9,615","4,192","2,059","1,693","1,238",996,908,482,818,"2,164"
3,North America,"3,145","2,922","4,177","4,800","4,856","2,930","1,948","4,206","4,066","1,528"
4,Oceania,-,-,-,-,-,-,-,-,-,-
5,South America,119,54,100,57,126,46,130,233,252,522
6,Unknown,-,-,9,65,"1,053",136,148,164,141,99
7,Afghanistan,651,441,576,349,515,428,481,661,753,910
8,Angola,13,4,-,8,-,D,-,6,-,5
9,Armenia,87,29,9,4,D,15,8,3,10,49
10,Azerbaijan,77,78,30,38,18,16,10,3,15,18
11,Belarus,350,219,111,146,103,66,83,10,46,98
12,Bhutan,3,-,"5,320","13,452","12,363","14,999","15,070","9,134","8,434","5,775"
13,Bosnia-Herzegovina,16,D,-,-,-,-,-,-,-,-
14,Burma,"1,612","13,896","18,139","18,202","16,693","16,972","14,160","16,299","14,598","18,386"
15,Burundi,466,"4,545","2,889",762,530,110,186,193,68,"1,186"
16,Cambodia,9,15,8,15,9,5,6,30,44,-
17,Cameroon,29,5,D,4,6,-,7,-,5,8
18,Central African Republic,23,15,56,59,45,182,136,318,25,270
19,Chad,4,10,23,6,28,25,12,32,21,16
20,"China, People's Republic",21,27,50,54,72,28,54,101,53,30
21,Colombia,115,54,94,57,123,46,126,230,252,521
22,"Congo, Democratic Republic",405,848,727,"1,135","3,174",977,"1,863","2,563","4,540","7,876"
23,"Congo, Republic",66,206,197,293,154,27,102,161,30,52
24,Cote d'Ivoire,23,11,30,9,4,7,33,20,42,28
25,Cuba,"3,143","2,922","4,177","4,800","4,818","2,920","1,948","4,205","4,062","1,527"
26,Egypt,D,3,5,7,15,6,13,3,21,13
27,Equatorial Guinea,11,14,-,9,9,-,-,-,-,D
28,Eritrea,538,963,251,"1,571","2,570","2,032","1,346","1,824","1,488","1,596"
29,Ethiopia,"1,271","1,028",299,321,668,560,620,765,728,626
...,...,...,...,...,...,...,...,...,...,...,...
40,"Korea, North",9,22,37,25,8,23,22,17,8,15
41,Kuwait,-,24,D,7,40,5,3,12,12,4
42,Kyrgyzstan,15,17,25,46,27,30,49,19,8,17
43,Laos,830,117,59,14,36,211,21,-,-,-
44,Latvia,21,17,6,D,-,4,-,-,-,-
45,Liberia,"2,346","1,606",992,385,244,121,69,94,31,12
46,Mauritania,88,62,26,16,74,3,-,-,4,-
47,Moldova,721,565,487,445,356,331,255,119,142,333
48,Nepal,D,3,4,7,-,10,47,34,47,26
49,Nigeria,15,20,76,3,D,D,D,D,4,4
50,Pakistan,20,30,104,67,59,54,274,158,240,159
51,Russia,"6,003","1,773",426,495,326,165,197,125,139,281
52,Rwanda,112,202,108,111,230,74,157,139,45,173
53,Serbia,11,-,D,-,-,-,-,-,-,-
54,Sierra Leone,439,166,99,51,54,28,D,4,6,6
55,Somalia,"10,357","6,969","2,523","4,189","4,884","3,161","4,911","7,608","9,000","8,858"
56,South Sudan,X,X,X,X,X,-,D,17,57,79
57,Sri Lanka,6,D,D,33,118,69,55,92,57,89
58,Sudan,"1,848",705,375,683,558,334,"1,077","2,160","1,315","1,578"
59,Syria,27,17,24,25,25,29,31,36,105,"1,682"
60,Togo,18,40,204,14,9,5,26,18,26,D
61,Uganda,20,38,42,8,30,10,18,15,5,67
62,Ukraine,"2,483","1,605","1,022",601,449,428,372,227,490,"1,451"
63,Uzbekistan,527,190,134,152,185,96,140,51,69,43
64,Vietnam,"3,039","1,500","1,112","1,486",873,79,41,69,67,22
65,Yemen,11,6,-,47,15,-,-,12,D,16
66,Zimbabwe,13,D,3,10,7,8,3,12,D,7
67,Other,36,28,34,28,49,36,32,37,32,43
68,Unknown,-,-,9,65,"1,053",136,148,164,141,99
69,Total,"41,094","48,218","60,107","74,602","73,293","56,384","58,179","69,909","69,975","69,920"